.table-container button {
    width: 6rem;
    height: 2.4rem;
    border: none;
    color: white;
    border-radius: 3px;
}

.table-container table thead {
    background: #333;
}

.table-container table tbody {
    background: #F2F3F4;
}

.table-container table tbody tr td {
    color: black;
    text-align: center;
}